---json
{
  "permalink": "atom/snaps/",
  "eleventyExcludeFromCollections": true,
  "metadata": {
	"title": "lprry indieWeb home",
	"description": "Burnley based, I talk about learning code and the indieWeb, staying fit by running, cycling, swimming and bouldering, retrogaming, our allotment, and life with our dogs and chickens.",
	"language": "en",
	"base": "https://l.prry.uk",
	"author": {
	  "name": "Lee Perry"
	}
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language or page.lang }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" />
  <link href="{{ metadata.base | addPathPrefixToFullUrl }}" />
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.base | addPathPrefixToFullUrl }}</id>
  <author>
	<name>{{ metadata.author.name }}</name>
  </author>
  {%- for post in collections.snaps | reverse %}
  {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.base) }}{% endset %}
  <entry>
	<title>{{ post.data.title }}</title>
	<link href="{{ absolutePostUrl }}" />
	<updated>{{ post.date | dateToRfc3339 }}</updated>
	<id>{{ absolutePostUrl }}</id>
	<content type="html">{% if (post.data.type == "ride") or (post.data.type == "run") or (post.data.type == "swim") %}{% if post.data.type == "ride" %}🚴‍♂️ {% endif %}{% if post.data.type == "run" %}🏃‍♂️ {% endif %}{% if post.data.type == "swim" %}🏊‍♂️ {% endif %}{% if post.data.type == "climb" %}🧗‍♂️ {% endif %} ⏰{{ post.data.time }} 📏{{ post.data.distance }}km {% if post.data.type == "run" %} ⏱️{{ post.data.pace }}min/km {% endif %} 🛫{{ post.data.climb }}m+ ❤️‍🔥{{ post.data.hr }}bpm {% if post.data.type == "ride" %} 🪫{{ post.data.w }}w {% endif %} 🧁{{ post.data.kcal }}kcal{% endif %}
	<![CDATA[<img src="/assets/images/{{ post.data.cover }}" alt="{{ post.data.cover_alt }}"><br>]]>{{ post.data.description }}{{ post.content | renderTransforms(post.data.page, metadata.base) }}<![CDATA[<br><br>]]>#{{ post.data.tags | join(" #") }}<![CDATA[<hr>]]>Thanks for reading via RSS!
</content>
  </entry>
  {%- endfor %}
</feed>