---json
{
  "permalink": "feed/echo.rss",
  "eleventyExcludeFromCollections": true,
  "metadata": {
	"title": "lprry indieWeb home",
	"description": "Burnley based, I talk about learning code and the indieWeb, staying fit by running, cycling, swimming and bouldering, retrogaming, our allotment, and life with our dogs and chickens.",
	"language": "en",
	"base": "https://l.prry.uk",
	"author": {
	  "name": "Lee Perry"
	}
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss
  version="2.0"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:media="http://search.yahoo.com/mrss/"
  xml:base="{{ metadata.base | addPathPrefixToFullUrl }}"
>
  <channel>
	<title>{{ metadata.title }}</title>
	<link>{{ metadata.base | addPathPrefixToFullUrl }}</link>
	<atom:link
	  href="{{ permalink | htmlBaseUrl(metadata.base) }}"
	  rel="self"
	  type="application/rss+xml"
	/>
	<description>{{ metadata.description }}</description>
	<language>{{ metadata.language or page.lang }}</language>

	{% for post in collections.everything | reverse %}
	  {% set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
	  <item>
		<title>{{ post.data.title }}</title>
		<link>{{ absolutePostUrl }}</link>
		<guid isPermaLink="true">{{ absolutePostUrl }}</guid>
		<pubDate>{{ post.date | dateToRfc822 }}</pubDate>
		<dc:creator>{{ metadata.author.name }}</dc:creator>

		{# --- TEXT SUMMARY --- #}
		<description><![CDATA[
		  {% if post.data.cover %}
			<img src="{{ metadata.base }}/assets/images/{{ post.data.cover }}"
				 alt="{{ post.data.cover_alt | default(post.data.title) }}"
				 style="max-width:100%; height:auto;"><br><br>
		  {% endif %}
		
		  {{ post.data.description | default(post.data.title) | safe }}
		  {% if post.data.tags %}
			  #{{ post.data.tags | join(" #") }}
		  {% endif %}
		]]></description>

	  </item>
	{% endfor %}

  </channel>
</rss>
