---json
{
  "permalink": "feed/",
  "eleventyExcludeFromCollections": true,
  "metadata": {
	"title": "lprry indieWeb home",
	"description": "Burnley based, I talk about learning code and the indieWeb, staying fit by running, cycling, swimming and bouldering, retrogaming, our allotment, and life with our dogs and chickens.",
	"language": "en",
	"base": "https://l.prry.uk",
	"author": {
	  "name": "Lee Perry"
	}
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.base | addPathPrefixToFullUrl }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
	<title>{{ metadata.title }}</title>
	<link>{{ metadata.base | addPathPrefixToFullUrl }}</link>
	<atom:link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" type="application/rss+xml" />
	<description>{{ metadata.description }}</description>
	<language>{{ metadata.language or page.lang }}</language>
	{%- for post in collections.everything | reverse %}
	{%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
	<item>
	  <title>{{ post.data.title }}</title>
	  <link>{{ absolutePostUrl }}</link>
	  <description>{% if (post.data.type == "ride") or (post.data.type == "run") or (post.data.type == "swim") %}{% if post.data.type == "ride" %}🚴‍♂️ {% endif %}{% if post.data.type == "run" %}🏃‍♂️ {% endif %}{% if post.data.type == "swim" %}🏊‍♂️ {% endif %}{% if post.data.type == "climb" %}🧗‍♂️ {% endif %} ⏰{{ post.data.time }} 📏{{ post.data.distance }}km {% if post.data.type == "run" %} ⏱️{{ post.data.pace }}min/km {% endif %} 🛫{{ post.data.climb }}m+ ❤️‍🔥{{ post.data.hr }}bpm {% if post.data.type == "ride" %} 🪫{{ post.data.w }}w {% endif %} 🧁{{ post.data.kcal }}kcal{% endif %}
	  <![CDATA[<img src="/assets/images/{{ post.data.cover }}" alt="{{ post.data.cover_alt }}"><br>]]>{{ post.data.description }}{{ post.content | renderTransforms(post.data.page, metadata.base) }}<![CDATA[<br><br>]]>#{{ post.data.tags | join(" #") }}<![CDATA[<hr>]]>Thanks for reading via RSS!</description>
	  <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
	  <dc:creator>{{ metadata.author.name }}</dc:creator>
	  <guid>{{ absolutePostUrl }}</guid>
	</item>
	{%- endfor %}
  </channel>
</rss>