<footer style="padding:25px 0;">
	
<span id="footer-directive">
	<div class="h-card">
  <img class="u-photo h-card-img" src="/assets/images/lee.webp" alt="Lee Perry" loading="lazy">
  <p class="h-card-header"><a class="p-name p-author u-url" rel="author" href="https://l.prry.uk">Lee Perry</a></p>
  <p class="p-note h-card-text">Based in Burnley, I have been writing about exploring life with <a href="https://craftedbypanda.co.uk">@craftedbypanda</a> and our canine children, learning to code, running and cycling, and Burnley FC on the internet since 2004.</p>
<div class="social">  
<a href="https://prry.uk/@lee" class="u-url" rel="me" aria-label="Mastodon"><i class="ph ph-mastodon-logo"></i></a>
  <a href="https://bsky.app/profile/lee-perry.co.uk" class="u-url" rel="me"><i class="ph ph-butterfly" aria-label="Bluesky"></i></a>
  <a href="https://github.com/lee-perry" class="u-url" rel="me"><i class="ph ph-github-logo" aria-label="Github"></i></a>
  <a href="https://codeberg.org/leeperry" class="u-url" rel="me"><i class="ph ph-file-code" aria-label="Codeberg"></i></a>
  <a href="mailto:l@prry.uk" rel="me" aria-label="email"><i class="ph ph-at"></i></a>
  <a href="/feeds"><i class="ph ph-rss-simple"></i></a>
</div>
</div>
</span>
<br>
<span>
Made with <i class="ph ph-coffee"></i> &amp; <a href="https://www.11ty.dev">11ty</a> in Burnley by lprry.
<br><br>
All content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC-BY-NC-SA 4.0</a> except where stated.
</span>
  </footer>
