---
layout: /layouts/page.html
---
<div class="h-feed">
<h1>My {{ subject-pretty }} Articles</h1>

<ul class="embedded blog-posts">
{% assign latestArticles = collections.articles | reverse %}
{% for item in latestArticles %}
{% if item.data.tags contains subject %}
 <li class="h-entry">
   <span class="dt-published">{{ item.date | date: "%Y-%m-%d" }}</span> - <a href="{{ item.url }}" class="u-url" rel="bookmark"><span class="p-name">{{ item.data.title }}</span></a> 
   <hr>
 </li>
 {% endif %} 
{% endfor %}
</ul>
</div>
