---
layout: /layouts/page.html
---
<article class="h-entry">
  <div class="e-content p-name">
	<h1>{{ title }}</h1>
	<p>{{ description }}</p>
	<p><a class="u-bookmark-of" href="{{ link }}">{{ title }}</a>: {{ link }}</p>
	<p>Bookmarked by <a rel="author" href="https://l.prry.uk"><span class="p-author">Lee Perry</span></a> on 
	  <span class="dt-published" datetime="{{ date | date: "%Y-%m-%dT00:00Z" }}">
		{{ date | date: "%Y-%m-%d" }}
	  </span> in 
	  {% assign tag_links = "" %}
	  {% for tag in tags %}
		{% if tag != "snaps" and tag != "article" and tag != "articles" and tag != "clip" and tag != "clips" and tag != "note" and tag != "notes" and tag != "activity" and tag != "training-log" and tag != "linkblog" %}
		  {% assign tag_url = "/topics/" | append: tag | downcase | replace: " ", "-" %}
		  {% assign tag_link = '<a href="' | append: tag_url | append: '">' | append: tag | append: '</a>' %}
		  {% if forloop.first or tag_links == "" %}
			{% assign tag_links = tag_link | prepend: " 🔖 " %}
		  {% else %}
			{% assign tag_links = tag_links | append: " 🔖 " | append: tag_link %}
		  {% endif %}
		{% endif %}
	  {% endfor %}
	  {{ tag_links }} | <a class="u-url" href="{{ page.url }}">permalink</a>
	</p>
  </div>
</article>