---
layout: /layouts/page.html
---
<div class="h-feed">
<h1>My {{ subject-pretty }} notes</h1>
<ul class="embedded blog-posts">
{% assign latestNotes = collections.notes | reverse %}
{% for item in latestNotes %}
{% if item.data.tags contains subject %}
 <li class="h-entry">
   <span class="dt-published">{{ item.date | date: "%Y-%m-%d" }}</span> - <a href="{{ item.url }}" class="u-url" rel="bookmark"><span class="p-name">{{ item.data.title }}</span></a>
   <hr>
   <span class="p-name">{{ item.data.description }}</span>
   
   {{ item.content }}
   <br><br>
   {{ item.data.tags | join: " 🔖" | prepend: "🔖" }}
   <br><br>
 </li>
 {% endif %}
{% endfor %}
</ul>
</div>